# Makefiles
Makefile
*.mk
*.inc
*.link
*.native

# Compiled Object files
*.o
*.obj
*.c

# Binary files
*.bin
*.elf
*.exe
*.tlog
*.ipch
*.suo
*.pdb
*.idb
*.ilk
*.db
*.log
*.ide
*.ipdb
*.io
*.ld
*.map
*.lock
*.iobj


*.visualcode/
*.vscode/

build/

# Bashscript
run
makeMakefile
